body {
  background-color: #f4f4f4;

  font-family: Tahoma, Geneva, sans-serif;
}
hr {
  background-color: #f4f4f4;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1{
  color: #66BFBF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 2em;
  font-variant: small-caps;
  text-shadow: 1px 1px 20px grey;

}
h2 {
  color: #66BFBF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-variant: small-caps;
  text-shadow: 1px 1px 20px grey;
}

h3{
  color: #66BFBF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  text-shadow: 1px 1px 20px grey;
}
